#interfaceAT{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#interfaceAT form{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

#interfaceAT #selectionForm{ 
    padding: 3vh 0;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-bottom: 5vh;
}

#interfaceAT #selectionForm fieldset{
    background-color: white;
    width: 100%;
}

#interfaceAT .elementForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2vw;
    width: 30vw;
}

#interfaceAT .elementForm .centrer{
    width: 100%;
}

#interfaceAT .listePointages{
    display: flex;
    flex-direction: column;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    width: 50vw;
    justify-content: center;
    align-items: center;
}


#interfaceAT .ligne{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: lightblue;
    align-items: stretch;
    height: 8vh;
}

#interfaceAT .ligne:nth-child(even){
    background-color: lightskyblue;
}

#interfaceAT .entete{
    background-color: var(--color-bleu-fonce);
    color: white;
    overflow-y: scroll;
}

#interfaceAT .entete::-webkit-scrollbar{
    opacity: 0;
}

#interfaceAT .ligne .bloc{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    flex: 1;
    text-align: center;
    border-right: 1px solid grey;
    border-bottom: 2px solid grey;
}

#interfaceAT .entete .bloc{
    color: white;
    border-right: unset;
}

#interfaceAT .corpsTable{
    width: 100%;
    overflow-y: scroll;
    max-height: 40vh;
}

#interfaceAT .ligne .bloc .demiJournee{
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#interfaceAT .ligne .bloc .demiJournee:first-child{
    border-bottom: 1px solid white;
}

#interfaceAT .bouton, input[type="submit"]{
    cursor: pointer;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    max-width: 10vw;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
    background-color:var(--color-bleu-fonce);
    border: 1px solid black;
}

#interfaceAT #listeOffres{
    display: flex;
    justify-content: center;
    max-height: 20vh;
    width: 15vw;
    padding: 0;
}

#interfaceAT .numOffres{
    height: 14vh;
    overflow: auto;
}


#interfaceAT #selectAllOffres{
    user-select: none;
    cursor: pointer;
}

#interfaceAT .offre{
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.3vh 0.5vw;
}

#interfaceAT .offre input{
    margin-right: 0.5vw;
}

#interfaceAT .offre:hover{
    background-color: var(--color-bleu-clair);
    color: white;
}

#interfaceAT .offre.checked:not(:hover){
    background-color: var(--color-bleu-fonce);
    color: white;
}

#interfaceAT .pointagesOffre{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh 2vw;
}